@font-face {
  font-family: "nordi";
  font-weight: bold;
  font-color: #00;
  src: url("./fonts/nordique-Light.otf") format("opentype");
}

.App {
  text-align: center;
  /* background-color: #000000; */
  background-image: url("./img/2k19Team3.webp");
  background-size: 2000px;
  clip-path: polygon(48% 0, 100% 19%, 100% 70%, 70% 70%, 50% 56%, 30% 70%, 0% 70%, 0 19%);
}

.backGrey{
  background-color: rgb(34, 34, 34);
}

.logo {
  font-family: "nordi";
  font-size: 4200px;
  color: #00;
  font-weight: bolder;
}

.nav-tags{
  margin-right: 30px;
  font-size: 17px;
}

.navbg{
  opacity: 0.7;
}

.ircprize{
  background-image: url("./img/news/irc-prize.webp");
  background-size: 1500px;
}